.eachCont{
    width: auto;
    height: auto;
    /* background: rgb(85, 85, 85); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.eachContIcon{
    width: 50px;
    height: 50px;
    background: rgb(135, 109, 228);
    box-shadow: 5px 5px 10px #888;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
}

.eachCont > p{
    font-size: 13px;
    font-weight: 700;
    margin-top: 10px;
}