
.leftFuncs{
    /* background-color: yellowgreen; */
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}


.leftFuncs>.logo {
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 6px;
    /* border-color: white; */
    color: white;
    font-size: 14px;
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

.leftFuncs>div> p {
    margin: 0 10px;
    color: white;
    opacity: .8;
    cursor: pointer;
    font-size: 14px;
}

div.topnavContent{
   /* display: flex;  */
   /* margin-top: 5px; */
   justify-content: center;
   align-items: center;
}

.leftFuncs>div> p:hover {
    transition: 0.5s;
    color: rgb(186, 248, 15);
}

.leftFuncs>div>.content {
    display: none;
    position: absolute;
    transition: 2s;
    /* top most zindex */
    z-index: 10;
    /* height: auto; */
    /* width: auto; */
    margin-top: 5px;
    padding: 3px;
    background-color: rgba(171, 230, 230, 0.748);
    border-radius: 5px;
	animation: fadeIn 1s;
  	/* opacity: 1; */
}

@keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.leftFuncs>div:hover .content {
    transition: all 2s;
    display: block;
}

.topnavContent>p:focus  div.content {
    transition: 2s;
    display: block;
}