.rightFuncs{
    width: 30%;
    height: 100%;
    /* margin-top: 5px; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    /* background-color: rgb(190, 199, 171); */
}

.eachContent{
    color: white;
    opacity: .8;
    margin: 0 10px;
    cursor: pointer;
}

.eachContent>i{
    font-size: 15px;
}

.eachContent:hover{
    transition: 0.5s;
    color: rgb(186, 248, 15);
}

.eachContent:hover>p{
    color: white;
}

.eachContent>div{
    display: none;
    position: absolute;
    width: auto;
    height: auto;
    background-color: rgb(222, 226, 215);
    right: 5px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 30px;
    margin-top: 5px;
	animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.eachContent:hover > div {
    display: block;
}