.eachnav{
    width: 52px;
    height: 52px;
    /* background-color: rgb(163, 138, 138); */
    margin: 0 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fontAwesome{
    font-size: 22px;
}

.imageIcon{
    border-radius: 9px;
    width: 45px;
    height: 45px;
}

.eachnav > p {
    display: none;
    color: white;
}

.imageIcon:hover + .iconName {
    margin-top: 5px;
    display: block;
}

.fade-in {
	animation: fadeIn .8s;
  	opacity: 1;
}

@keyframes fadeIn {
  from {
  	opacity: 0;
  }
  to {
 	opacity: 1;
  }
}