.desktop {
    /* background-color: brown; */
    margin: 0;
    padding: 0;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.background{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: rebeccapurple;
    /* display: flex; */
}

.bottomNav{
    position: absolute;
    z-index: 1;
    width: auto;
    max-width: 90%;
    height: 50px;
    /* background-color: rgb(210, 195, 224); */
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform:translateX(50%); */
    margin-bottom: 20px;
}

.topNav{
    width: 100%;
    height: 27px;
    /* margin-top: 15px; */
    background-color: rgba(145, 106, 136, 0.445);
    /* opacity: 0.4; */
    z-index: 1;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    align-self: flex-start;
    flex-direction: row;
    padding: 0 5px;
}

.leftFuncs{
    /* background-color: yellowgreen; */
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.topNav>.leftFuncs>.logo {
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 6px;
    /* border-color: white; */
    color: white;
    font-size: 14px;
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

.leftFuncs > p {
    margin: 0 10px;
    color: white;
    opacity: .8;
    cursor: pointer;
    font-size: 14px;
}

.rightFuncs{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    /* background-color: rgb(190, 199, 171); */
}