.dropdownFunctions{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    /* margin-right: 15px; */
    color: white;
}

.dropdownFunctions>i{
    cursor: pointer;
}

.dropdownMenu{
    font-size: 20px;
    padding: 10px;
}

.closeDropdown{
    padding: 10px;
}