.dropdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* width: 100%;
    height: auto; */
    box-shadow: 5px 5px 8px #888888d5;
    /* display: none; */
    /* height: 160px; */
    
}

.dropdown>h4{
    margin-bottom: 10px;
}

.dropdownLine{
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.192);
    margin: 5px 0 20px 0;
}

.dots{
    margin-top: 10px;
    display: flex;
}

.dot{
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.699);
    margin: 2px;
}

.dotWhite {
    background-color: rgb(168, 165, 160);
}

.dropdownoptions{
    width: 100%;
    /* width: auto; */
    height: auto;
    display: flex;
    /* overflow-y: auto;
    overflow-x: auto; */
    overflow: auto;
    max-height: 200px;
    /* transition: all 3s; */
    animation-name: dropdown;
    animation-duration: 1s;
}

@keyframes dropdown {
    0% {
        height: 0
    }
    80% {
        height: 180px;
    }
    100%{
        height: auto;
    }
}

::-webkit-scrollbar {
    width: 3px;
}


::-webkit-scrollbar-track{
    background: rgb(168, 165, 160);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: #388;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover{
    background: #555;
}

.page1{
    width: 30%;
    /* height: auto; */
    text-align: start;
    /* transition: all 3s; */
    /* width: 100vw; */
}

.page1 > p {
    padding: 5px ;
    cursor: pointer;
}

.page2{
    width: 70%;
    /* height: auto; */
    /* background-color: lawngreen; */
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    /* transition: all 3s; */
    /* width: 100vw; */
}

.anIcon{
    font-size: 25px;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.eachGrid {
    width: 70px;
    height: 70px;
    /* background-color: violet; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    padding: 3px;
    margin: 5px 10px 20px 10px;
    cursor: pointer;
    flex-direction: column;
}

.eachGrid > i{
    font-size: 30px;
    margin-bottom: 15px;
}